/* explore */
.wowo_explore {display: inline-table!important;padding: 0 15px!important;margin: 0 5px;margin-top: 40px;font-weight: 500;background: #ffffff;border-radius: 50px;color: #160431;border-bottom: solid 1px #6200ff;}
.wowo_icon_bg {padding: 15px;margin-top: -40px;border-radius: 50%;display: inline-block;color: #ffffff;}
.wowo_icon_user {background: #CE00FF;}
.wowo_icon_group {background: #FF00BA;}
.wowo_icon_page {background: #FF003B;}
.wowo_icon_game {background: #6200FF;}
.wowo_icon_bg svg {height: 25px;width: 25px;}

/* welcome explainer */
.welcome_xplnr_container {width: 100%;margin: 0 auto;text-align: center;background: white;margin-top: -120px;}
.xplnr_content {margin-top: 6em;padding-bottom: 8em;}
.xplnr_align {margin: 0 auto;}
.xplnr_connect_img {width: 100%;}
.xplnr_connect_img img {width: 100%;max-width: 820px;}
h1.xplnr_title {margin-top: 0;font-size: 1.6rem;}
.wowo_xplnr_extra_txt h1 {font-size: 18px;font-weight: 500;color: #0d002f;margin: 0;}
.xplnr_text {color: #7d7b84;margin-bottom: 0;}
.no_m_r {margin-right: 0;}
.xplnr_section {width: 100%;position: relative;background: rgb(239 237 241);background-image: url(../img/welc_xplainer/bg-welcome-light.png)}

.xplnr_one .login_signup_combo {justify-content: center;}

/* section two */
.wowo_xplnr_extra {background: #ffffff;color: #191129;border-radius: 10px;box-shadow: 0 5px 15px rgb(17 8 58 / 11%);display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;margin-top: 30px;}
.xplnr_section_img {border-bottom-left-radius: 10px;border-top-left-radius: 10px;height: 170px;min-width: 150px;object-fit: cover;}
.wowo_xplnr_extra_txt {padding: 20px;text-align: left;font-size: 14px;}
span.xplnr_section_icon {background: #ffffff;border-radius: 50px;padding: 25px 10px;box-shadow: 0px 5px 50px 0 rgb(28 0 95 / 21%);position: absolute;bottom: -20px;left: 25px;}
span.xplnr_section_icon svg {width: 20px;height: 20px;}

/* section three */
.xplnr_live {color: #0d002f;}
.xplnr_live_content {display: flex;}
.xplnr_live_web {margin-right: -50px;position: relative;}
.xplnr_live_mob {position: relative;top: 110px;}
.xplnr_live_img {width: 100%;}
.xplnr_live_img_item {border-radius: 15px;box-shadow: 0 15px 50px rgb(37 10 113 / 20%);}
.xplnr_live_img img {width: 100%;}
.xplnr_live_desc {text-align: left;margin-right: 65px;margin-top: 50px;}
.xplnr_live_btn {width: 50%;margin-top: 25px;box-shadow: 0 7px 45px rgb(27 3 93 / 17%);}

/* section four */
button.xplnr_joinin {border: solid 1px #f900e2;margin: 0 auto;width: 50%;background: none;}
a .xplnr_joinin {color: #f900e2;}

.clear_m {margin-bottom: -25px;}


@media (min-width: 992px) {
.welcome_xplnr_container .xplnr_live .container {max-width: 1050px;}
}
@media (min-width: 430px) {
}
@media (max-width: 1200px) {
.wowo_xplnr_extra {display: block;}
.xplnr_section_img {height: 260px;border-bottom-left-radius: 0;border-top-right-radius: 10px;}
span.xplnr_section_icon {bottom: 35px;}
.wowo_xplnr_extra_txt h1 {margin-left: 45px;}
.xplnr_text {margin-left: 45px;}
.no_mg {margin: 0;}
}
@media (max-width: 768px) {
/* section two */
.welcome_xplnr_container {margin-top: -65px;}
}

@media (max-width: 768px) {
.xplnr_content {margin-top: 4em;padding-bottom: 4em;}
.xplnr_live_btn {width: 100%;}
}
@media (max-width: 575px) {
span.xplnr_section_icon {bottom: 20px}
}
@media (max-width: 450px) {
.sun_login_heading h1 {font-size: 26px;}
.xplnr_text {font-size: 14px;}
.wowo_explore {padding: 8px!important;}
span.xplnr_section_icon svg {width: 20px;height: 20px;}
button.xplnr_joinin {width: 70%;}
}
@media (max-width: 425px) {
.wowo_xplnr_extra {display: block;}
}
@media (max-width: 320px) {
.sun_login_heading h1, h1.xplnr_title {font-size: 18px;}
}
